In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("TMQ04.20241027T081042.csv")
info = data.info()
sample = data.head()

info, sample

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 384 entries, 0 to 383
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Route of Travel  384 non-null    object
 1   Quarter          384 non-null    object
 2   Statistic Label  384 non-null    object
 3   UNIT             384 non-null    object
 4   VALUE            384 non-null    float64
dtypes: float64(1), object(4)
memory usage: 15.1+ KB

(None,
         Route of Travel Quarter  \
 0  All routes of travel  2012Q1
 1  All routes of travel  2012Q1
 2  All routes of travel  2012Q1
 3  All routes of travel  2012Q2
 4  All routes of travel  2012Q2

                                      Statistic Label      UNIT   VALUE
 0         Overseas Trips to Ireland by Non-Residents  Thousand  1167.0
 1                  Overseas Trips by Irish Residents  Thousand  1235.0
 2  Average Length of Stay by Irish Residents on O...    Nights     7.5
 3         Overseas Trips to Ireland by Non-Residents  Thousand  1817.0
 4                  Overseas Trips by Irish Residents  Thousand  1727.0  )